/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
    top: 0;
    /* left: 0; */
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
    max-width: 1440px; 
    position: relative;
    font-family: Montserrat;
    font-weight: 400;    
    margin: 0px auto;
    max-height:100px; 
    margin: 0 auto;
    /* box-sizing: border-box; */
    
    /* border: 5px solid rgba(216, 4, 145, 0.37); */
    
}
.wrapper{
    
    /* display: fixed; */
    min-height: 558px;
    
    flex-direction: column;
    
    /* border: 5px solid rgba(56, 6, 236, 0.404);  */
    
    
}
._container{
     position: relative;
    /* border: 5px solid rgb(248, 0, 153); */
    margin: 0px auto;
    
    /* margin: 0px 15.7%; */
    
    
}
/* ----------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------------- */

.header{
    background: url(../img/fon.jpg) no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    display: fixed;
    min-height: 558px;
    position: fixed;
    /* flex-direction: column;
    border: 5px solid rgba(56, 6, 236, 0.404); */
    display: block;
    /* position: fixed; */
    position: relative;
    /* border: 5px solid red; */
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 50;
    min-height: 560px; 
    max-height: max-content;
    padding-top: 1px;
    
    
    
    
}

/* ----------------------------------------------------------------------------- */
.header_container{
    position: relative; 
    /* border: 5px solid rgb(21, 255, 0); */
    display: flex;
    justify-content:space-between;
    
    height: 81px;
    /* margin: 0px 11vw; */
    margin: 0px 157px;
    /* align-items: center; */
    margin-bottom: 0px;
    margin-top: 30px;
        /* padding-top: 30px; */
        z-index: 50;
}
/* ----------------------------------------------------------------------------- */
.header__logo{
    
    font-size:40px;
    display: flex;
    align-items: center;
    margin-left: -2px;
    
    
     
    line-height:12.5px ;
    font-weight: 900;
    
    
    /* min-width: 190px; */
    height: 40px;
    
    
}
.logo_it{
    color:#FFFFFF;
    /* font-size: calc( 22px + 26 * ( 100vw / 1440 )); */
}
.logo_SRK{
    color: #00FEFF;
    /* font-size: calc( 22px + 26 * ( 100vw / 1440 )); */
}
.logo_header{
    /* min-width: 190px; */
    display: flex;
    flex-direction: column;
}
.header_logo_2{
    display: flex;
    
    /* border: 5px solid rgb(0, 0, 0); */
    
     font-size: 6px; 
     /* font-size:calc( 3.4px + 3 * ( 100vw / 1440 ));                   */
     min-width: 150px;
    color: #00FEFF;
    font-weight: 400;
    letter-spacing: 1.6px;
    /* letter-spacing:calc(3px + 3 (100vw / 1440 )); */
    text-decoration: underline;
    
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.header__logo2{
    
    font-size:40px;
    display: flex;
    align-items: center;
    margin-left: -2px;
    
    
     
    line-height:12.5px ;
    font-weight: 900;
    
    
    /* min-width: 190px; */
    height: 40px;
    
    
}
.logo_it2{
    color:#FFFFFF;
    /* font-size: calc( 22px + 26 * ( 100vw / 1440 )); */
}
.logo_SRK2{
    color: #00FEFF;
    /* font-size: calc( 22px + 26 * ( 100vw / 1440 )); */
}
.logo_header2{
    /* min-width: 190px; */
    display: flex;
    flex-direction: column;
}
.header_logo_22{
    display: flex;
    
    /* border: 5px solid rgb(0, 0, 0); */
    
     font-size: 6px; 
     /* font-size:calc( 3.4px + 3 * ( 100vw / 1440 ));                   */
     min-width: 150px;
    color: #00FEFF;
    font-weight: 400;
    letter-spacing: 1.6px;
    /* letter-spacing:calc(3px + 3 (100vw / 1440 )); */
    text-decoration: underline;
    
}

/* ----------------------------------------------------------------------------- */
.header_logo_ua{
    position: absolute;
    font-family: Montserrat;
    font-family: 900;
    
    margin: 5px 5px 0px 160px;
    
    /* font-size: 13px;   */
    font-size: 13px;    
    padding-top: 8px;                                  /*  ua обводка    тут закончил */
    border: 1px solid #00FEFF;
    min-width: 30px;
    min-height: 30px;
    letter-spacing: 0.05em;
    color: #00FEFF;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    
    
    
    
        
}

/* ----------------------------------------------------------------------------- */
.menu_item{
    max-height: 21px;
    max-width: 81px;
    
	
    
}
.header_menu{
    
    
    
    /* border: 1px solid #b40000; */
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    width: 300px;
    margin: 5px 8px 0px 65px;   
    
}
.cl-effect-21{
    display: flex;
    justify-content: space-evenly;
}


.menu_item1{
    margin:0 px;
    
}
#menu_link_width{
    min-width: 58px;
}
#menu_link_width2{
    min-width: 65px;
}
/* ----------------------------------------------------------------------------- */
.cl-effect-21 a {
	
	color: rgba(255, 255, 255, 1);
	font-weight: 400;
	 
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}
/* .cl-effect-21 a:hover, */
.cl-effect-21 a:focus {
	color: rgb(171, 172, 173);
}
       
/* ----------------------------------------------------------------------------- */


  

/* ------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------ */

/* ----------------------------------------------------------------------------- */
.tel{
    min-width: 230px;
    
    display: block;
    
    display: fixed;  
    color: #FFFFFF;
    display: flex;
}
/* ----------------------------------------------------------------------------- */
.name_tel{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    color:rgba(255, 255, 255, 1) ;
    line-height: 19px; 
    
    margin-top: 0px;
    font-size: 12;
    min-width: 229px;
}
.name_tel_lifecell{
    margin-left: 24px;

}
/* ----------------------------------------------------------------------------- */
.number_tel{
    
    font-size: 17px ;     
    font-family: 700;
    min-width:150px;
    max-width: 150px;
    
}
.nuber_tel_1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17px ;     
    font-family: 700;
    letter-spacing: 0.1px;
     
    color: #FFFFFF;
    
}
.nuber_tel_2{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 17px;
letter-spacing: 0.4px;
color: #FFFFFF;

}
/* ----------------------------------------------------------------------------- */
.conteiter_content{
    /* border: 5px solid #ff0a0a;  */
    /* margin-left:0 calc(  147px + 0 * ( 100vw / 1440 )); */
    /* margin: 0px 11vw; */
    margin: 0px 157px;
    
    
}
.mani_conteiner{
   /* margin: 0px 157px;  */
    
    position: relative;
    margin: 0px auto;
    /* overflow: hidden; */
    font-family: Montserrat;
    /* border: 5px solid #160707; */
    
    
    
    
}
/* ------------------------------------------------------------------------------ */
.title_h1_glw{
    
    font-family: Montserrat;
    font-weight: 900;
    font-size: 50px ; 
    font-size: calc( 27px + 26 * ( 100vw / 1440 ));
    /* max-width: 568px; */
    max-height: 110px;
    margin-top: 45px;
    margin-left: -1.6px;
    overflow: hidden;
    
    
    margin-bottom: 0px;
    
    color: rgba(0, 254, 255, 1);
    
}
/* ------------------------------------------------------------------------------ */
.text_obsl h2{
    font-family: Montserrat;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    color: rgba(0, 254, 255, 1);
    
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    margin-top: 57px;
   
}
/* ------------------------------------------------------------------------------- */
.menu_price{
    font-family: Montserrat;
    font-weight: 400;
    
    width: 221px;
    height: 69px;
    margin-top: 5px;
    margin-left: 0px;
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    line-height: 28px;
    
}
.menu_price_1{
    
    font-weight: 700;
    letter-spacing: 2;
    font-size: 35px;
}
.menu_price_text{
    font-size: 20px;
}
/* ------------------------ КНОПКА  -------------------------------------------------------- */
.header_button{
    
    background-color: #00FEFF;
    min-width: 250px;
    /* height: 50px; */
    margin-left: 0px;
    font-family: Montserrat;
    font-weight: 700;
    border-radius: 5px;
    margin-bottom: 24px;
    margin-right: 4px;
    height: max-content;
    
}
  .arrow-3 {
      
      
    color: rgba(0, 32, 71, 1);
    ;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    height: 18px;
    line-height: 18px; 
    display: table;
    margin: 11px;
    margin-left: 20px;
    
}
.arrow-3 .arrow-3-icon {
    margin-left: 5px;
    position: relative;
    top: -1px;
    transition: transform 0.3s ease;
    vertical-align: middle;
}
.arrow-3 .arrow-3-iconcircle {
    transition: stroke-dashoffset .3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
}
.arrow-3:hover .arrow-3-icon {
    transform: translate3d(5px, 0, 0);
}
.arrow-3:hover .arrow-3-iconcircle {
    stroke-dashoffset: 0;   
}
/* ---------------------------------------------------------- */
.text_rh_conteiner{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    max-width: 389px;
    padding-bottom: 40px;
    height: max-content;
    /* border: 5px solid #000000; */
    
    
    flex: 300px;
    
    
}
.text_rh{
    font-family: Montserrat;
    font-family: Tahom,;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    text-align: right;
    line-height: 140%;
    display: block;
    
    
}
.flex_button{
    display: block;
    display: flex;
    
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
/* --------------------------conteint---------------------------------------------------------- */

.content_container {
    
    display: block;
    margin-top: -30px;
     
}
.ogr_container {
    overflow: hidden;
    margin: 0px 157px;
    /* height: min-content ; */
}
.content1_container {
    display: block;
    margin-top: 97px;
    height: max-content;
    display: flex;
    padding-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-between;

}
.Uboute {
    color: rgba(0, 30, 66, 1);
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    min-width: 165px;
    width: 186px;
    height: 58px;
   
    
}
.Uboute_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    max-width: 821px;
    height: max-content;
    margin-top: 10px;
    flex: 367px
    
  
}



/* ---------------------------------------------------------------- */
.conteiner_ser{
    max-width: 100%;
    margin-bottom: 35px;
    
}
/* ------------------------------------------------------------------ */
.services{
    margin:0px 157px; 
    margin-bottom: 31px;
    
}
.services h3{
    width: 201px;
    height: 61px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #001E42;
}
/* ------------------------------------------------------------------ */
.conteiner_content_services {
    overflow: hidden;
    margin: 0px 157px;
    
    
  
}

.conent№{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 18px;
    padding-bottom: 60px;
   
}
.contents1{
    margin: 0px auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 18px;
}
/* --------------------------------------------------------------- */

.content1{
    display: contents;
    object-position: left;
    display: flex;
    

    
}
.content1 h3{
    font-weight: 700;
    text-align: left;
    padding-left: 26px;
    padding-top: 25px;
    width: 234px;
}

/*  */
.content2{
    padding-top: 15px;
    display: contents;
    display: flex;
    object-position: left;
   
}
.content2 h3{
    
    font-weight: 700;
    text-align: left;
    margin-left: 26px;
    padding-top: 25px;
    width: 158px;
    
}

/* -------------------------------------------------- */
.content3{
    padding-top: 15px;
    display: contents;
    display: flex;
    object-position: left;
    
}
.content3 h3{
    width: 193px;
    font-weight: 700;
    text-align: left;
    padding-left: 26px;
    padding-top: 25px;
    
}
/* ---------------------------------------------------- */
.content4{
    padding-top: 15px;
    /* padding-top: 30px; */
    display: contents;
    display: flex;
    object-position: left;
    
}
.content4 h3{
        width: 229px;
        font-weight: 700;
        text-align: left;
        padding-left: 26px;
        padding-top: 25px;
        /* line-height: 130%; */
}
.content5{
    padding-top: 15px;
    display: contents;
    display: flex;
    object-position: left;
    
}
.content5 h3{
        width: 185px;
        font-weight: 700;
        text-align: left;
        padding-left: 26px;
        padding-top: 25px;
}
.content6{
    padding-top: 15px;
    display: contents;
    display: flex;
    object-position: left;
    
    
}
.content6 h3{
        width: 200px;
        font-weight: 700;
        text-align: left;
        padding-left: 26px;
        padding-top: 25px;
}

/* =================================================================== */
.conteiner_gool{
    margin: 0px 157px;
    
    padding-bottom: 80px;
    
}
/* -------------------------------------------------------------------- */
.conteiner_indulgence{
    
    margin-bottom: 31px;
}
.conteiner_indulgence h2{
    font-family: Montserrat;
    font-style: normal;
    line-height: 29px;
    font-weight: 700;
    font-size: 24px;
}
.indulgence{
    margin-bottom: 31px;
    color: #001E42;
}
/* ********************************************************************** */
.conteiner_text{
    display: flex;
    margin-bottom: 42px;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* ------------------------------------------------------------------------ */
.text1{
    flex: 350px;;
    max-width: 529px;
    margin-right: 20px;
    
}
.text1 h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #252D37;
}
.text2{
    flex: 350px;
    max-width: 529px;
}
.text2 h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #252D37;
}


/* ------------------------------------------------------------- */

.buttom_gool{
    display: block;
    display: flex;
    
    justify-content: space-between;
    flex-wrap: wrap;
   
    background-color: #00FEFF;
    width: 250px;
    
    margin-left: 0px;
    font-family: Montserrat;
    font-weight: 700;
    border-radius: 5px;
    
    margin-right: 4px;
    height: max-content;
    

} 
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.indulgence_gool{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 95px;
    flex-wrap: wrap;
}

/* ----------------------------------------------------------------- */

.logo_gool{ 
    display: flex;
    width: 321px;
    align-items: center;
    margin-left: 80px;
    margin-right: 10px;
}

.logo_gool h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    min-width: 136px;
    margin-left: 18px;
    line-height: 50px;
    color: #001E42;
}
/* ------------------------------------------------------------------ */

.gool_text{
    max-width: 521px;
    flex: 350px;
}

.gool_text h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #001E42;
    line-height: 31px
}

/* ================================================================================ */
.conteiner_connection{
    margin: 0px 157px;
    margin-bottom: 150px;
}
.connection{
    
    display: flex;
    justify-content: space-between;
}
.connection{
    display: block;
}
.connection h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #001E42;
}
.connection_text{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}
.connection_text1{
    max-width: 282px;
    flex: 208px;
    padding-right: 10px;
    position: relative;
}
.connection_text1 h3{
    position: relative;
    margin-top: 39px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #001E42;
    z-index: 50;
}
.connection_text1 h4{
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 117px;
    color: #00FEFF;
    margin-left: -13px;
    margin-top: -13px;
    z-index: 3;
}
/* ----------------------------------------------------- */
.connection_text2{
    max-width: 298px;
    flex: 276px;
    padding-right: 10px;
    position: relative;
}
.connection_text2 h3{
    position: relative;
    margin-top: 39px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #001E42;
    z-index: 50;
}
.connection_text2 h4{
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 117px;
    color: #00FEFF;
    margin-left: -1px;
    margin-top: -13px;
    z-index: 3;
}
/* ----------------------------------------------------------- */
.connection_text3{
    max-width: 266px;
    flex: 199px;
    position: relative;
}
.connection_text3 h3{
    position: relative;
    margin-top: 39px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #001E42;
    z-index: 50;
}
.connection_text3 h4{
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 117px;
    color: #00FEFF;
    margin-left: -1px;
    margin-top: -13px;
    z-index: 3;
}
/* =============================================================== */

.conteiner_prise{
    margin: 0px 157px;
    
}
.conteiner_prise h2{
    text-align: start;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #001E42;
}
/* ----------------------------------------------------------------- */
.content_prise{
    
}
/* ------------------------------------------------------------------- */
.conteiner_prise_revers{
    display: flex;
    margin: 0px 157px;
    flex-direction: row;
    flex-wrap: wrap
}
/* ---------------------------------------------------------------------- */
.content_prise_text{
    height: 236px;
    width: 529px;
    
    border-radius: nullpx;
    display: flex;
    flex: 320px;
    flex-direction: column;
    height: max-content;
    margin-bottom: 15px;

}
.content_prise_text h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #252D37;
}
.content_prise_text span{
    display: block ;
    margin-top: 15px;
    
}
/* -------------------------------------------------------------------------- */
.conteiner_tariffs{
    margin: 0px auto;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
/* --------------------------------------------------------------------------- */
.content_rate{
    display: block;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

/* ---------------------------------------------------------------------------0 */
.rate1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    /* text-align: center; */
    width: 259px;
    height: 321px;
    border: 2px solid #001E42;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.tariff{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}
.start{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height:36px;
    
    text-transform: uppercase;
}
.price{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px; 
    
    color: #001E42;}
.grn{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

color: #001E42;
}
.work{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    text-align: center;
    color: #001E42;
}
/* *********** */
.rate2{
    margin-left: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    /* text-align: center; */
    width: 259px;
    height: 321px;
    border: 2px solid #001E42;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.tariff{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    order: -1;
}
.start{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height:36px;
    
    text-transform: uppercase;
}
.price{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px; 
    
    color: #001E42;}
.grn{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

color: #001E42;
}
.work{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    text-align: center;
    color: #001E42;
}
.btn_coneiner1{
    display: flex;
    margin-right: 10px;
    margin-top: 20px;
    order: 1;
}
.btn_coneiner1 li{
    margin-right: 10px;
}
.PRICE_IT2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 13px 24px;
    border: 2px solid #001E42;
    border-radius: 3px;
    
   
   
    font: normal normal bold 14px arial;
    color: #001E42;
    text-decoration: none;
}
.PRICE_IT2:hover,
.PRICE_IT2:focus {
    border: 2px solid #001E42;
    background: #fcfcfc ;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#fcfcfc));
    background: -moz-linear-gradient(top, #fcfcfc, #fcfcfc);
    background: linear-gradient(to bottom, #fcfcfc, #fcfcfc);
    color: #001E42;
    text-decoration: none;
    -webkit-box-shadow: #0f2f2f 0px 0px 5px 0px;
    -moz-box-shadow: #0f2f2f 0px 0px 5px 0px;
    box-shadow: #0f2f2f 0px 0px 5px 0px;
    background: #fcfcfc;
}
.PRICE_IT:active {
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background: -moz-linear-gradient(top, #ffffff, #bdbdbd);
    background: linear-gradient(to bottom, #ffffff, #bdbdbd);
}
.PRICE_IT2:after{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 0px -6px 4px;
    position: relative;
    /* top: 2px;
    left: 9px; */
    background: url("../svg/Vector.svg") no-repeat left center transparent;
    background-size: 100% 100%;
}

/* ------------------------------------------------------------------------ */
.btn_coneiner2{
   
    
    margin-top: 20px;
    width: 100%;
}
.btn_coneiner3{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.btn_coneiner2 li{
    margin-right: 10px;
}
.PRICE_IT2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 13px 24px;
    border: 2px solid #001E42;
    border-radius: 3px;
    
   
   
    font: normal normal bold 14px arial;
    color: #001E42;
    text-decoration: none;
}
.PRICE_IT2:hover,
.PRICE_IT2:focus {
    border: 2px solid #001E42;
    background: #fcfcfc ;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#fcfcfc));
    background: -moz-linear-gradient(top, #fcfcfc, #fcfcfc);
    background: linear-gradient(to bottom, #fcfcfc, #fcfcfc);
    color: #001E42;
    text-decoration: none;
    -webkit-box-shadow: #0f2f2f 0px 0px 5px 0px;
    -moz-box-shadow: #0f2f2f 0px 0px 5px 0px;
    box-shadow: #0f2f2f 0px 0px 5px 0px;
    background: #fcfcfc;
}
.PRICE_IT2:active {
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background: -moz-linear-gradient(top, #ffffff, #bdbdbd);
    background: linear-gradient(to bottom, #ffffff, #bdbdbd);
}
.PRICE_IT2:after{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 0px -6px 4px;
    position: relative;
    /* top: 2px;
    left: 9px; */
    background: url("../svg/Vector.svg") no-repeat left center transparent;
    background-size: 100% 100%;
}
/* ================================================================ */
.conteiner_clients{
    margin: 0px 157px;
}
.clients_text{
    margin-top: 60px;
}
.clients_text h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #001E42
}
.clients_logo{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}
.img1{
    width: 137px;
    height: 42px;
}
.img2{
    width: 82px;
    height: 82px;
}
.img3{
    width: 150px;
    height: 29px;
}
.img4{
    width: 103px;
    height: 55px;
}
.img5{
    width: 153px;
    height: 35px;
}
/* =========================================================================================================== */
.conteiner_about{
    
    margin: 0px 159px 40px;
    
}
.content_about h2{
    margin-top: 65px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 50px;
        color: #A5AAAF;
}
.content__text{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}
.text_1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #A5AAAF;
    padding-right: 30px;
    flex: 300px;
}
.text_2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #A5AAAF;
    flex: 300px;
    
}
/* ======================================================= */
.conteiner_Application{
    background-image: url(../img/Rectangle4.jpg);
    
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 0px 157px;
    padding-top: 50px;
    padding-bottom: 25px;
    flex-direction: row;
    justify-content: space-evenly;
}
.content_text{}
.content_text h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    width: 374px;
    
    padding-top: 50px;
}
.conteiner_form{
    width: 343px;
    height: 345px;
}


input{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height:25px;

    color: #001E42;
   width: 343px;
   height: 42px;
   margin-top: 17px;
   padding-left:20px;
   border-radius: 2px;
}
textarea{
    padding-left: 20px;
    margin-top: 10px;
    font-size: 18px;
    min-width: 343px;
    min-height: 70px;
    max-width: 343px;
    max-height: 100px;
}
.inpet_galk{
    width: 20px;
    height: 20px;
}

 
  /* ----------------------------------------------------------- */
    .checkbox{
        margin-top: 5px;
    }
  .checkbox_input{
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    height: max-content;
}
.checkbox{
    cursor: pointer;
    position: relative;
}
.checkbox_label{
    cursor: pointer;
    padding-left: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: #A5AAAF;
}
.checkbox_label::before{
    content:"";
    width: 20px;
    height: 20px;
    border:1px solid rgb(77, 76, 76);
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.checkbox_label::after{
    content: "";
    width: 8px;
    height:8px;
    display: block;
    background-color: #001E42;
    background-size: 8px 8px;
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 2;
    opacity: 0;
}
.checkbox_input:checked + .checkbox_label:after{
    opacity: 1;
}
.checkbox._error{
    background-color:rgba(189, 0, 0, 0.351);
    box-shadow: 0px 0px 4px 6px rgb(255 0 0 / 45%);
}
.form_input._error {
    box-shadow: 0px 0px 4px 6px rgb(255 0 0 / 45%);
}
/* ------------------------------форма отправки --------------------------------- */
.checkbox_input._error{
    box-shadow: 0px 0px 4px 6px rgb(255 0 0 / 45%);
}
.form__body{
    position: relative;
}
.form__body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba( 51, 51, 51, 0.9) url(../img/gif/loading.gif) center / 70px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    z-index: 500;
}   
.form__body._sending::after {
    opacity: 1;
    visibility: visible;
}
/* --------------------------------------------------------------------------- */
.PRICE_IT {
       
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 13px 24px;
    border: 1px solid #0f2f2f;
    border-radius: 5px;
    background: #00FEFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#00FEFF), to(#00FEFF));
    background: -moz-linear-gradient(top, #00FEFF,#00FEFF);
    background: linear-gradient(to bottom, #00FEFF, #00FEFF);
   
    font: normal normal bold 14px arial;
    color: #002047;
    text-decoration: none;
}
.PRICE_IT:hover{
    border: 3px solid #014444;
}
.PRICE_IT:focus {
    border: 1px solid #035757;
    background: #00FEFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#00FEFF), to(#00FEFF));
    background: -moz-linear-gradient(top, #00FEFF,#00FEFF);
    background: linear-gradient(to bottom, #00FEFF, #00FEFF);;
    color: #002047;
    text-decoration: none;
    -webkit-box-shadow: #0f2f2f 0px 0px 10px 0px;
    -moz-box-shadow: #0f2f2f 0px 0px 10px 0px;
    box-shadow: #0f2f2f 0px 0px 10px 0px;
}
.PRICE_IT:active {
    background: #979797;
    background: -webkit-gradient(linear, left top, left bottom, from(#979797), to(#bdbdbd));
    background: -moz-linear-gradient(top, #02c2c2, #02d1d1a3);
    background: linear-gradient(to bottom, #02c2c2, #02d1d1a3);
    
}

/* --------------------------------------------------------------------------------------- */
.btn{
    margin-top: 10px;
}
.PRICE_IT {
      
      
      color: rgba(0, 32, 71, 1);
      
      cursor: pointer;
      text-decoration: none;
      display: flex;
      text-align: center;
      justify-content: center;
      
      width: 343px;
      align-items: center;
      
      
        margin: 0px;
        margin-left: 0px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      
  }
  .aPRICE_IT .arrow-3-icon {
      margin-left: 5px;
      position: relative;
      top: 0px;
      transition: transform 0.3s ease;
      vertical-align: middle;
  }
  .PRICE_IT .arrow-3-iconcircle {
      transition: stroke-dashoffset .3s ease;
      stroke-dasharray: 95;
      stroke-dashoffset: 95;
  }
  .PRICE_IT .arrow-3-icon {
      transform: translate3d(5px, 0, 0);
  }
  .PRICE_IT:hover .arrow-3-iconcircle {
      stroke-dashoffset: 0; 
    }  
    /* =====================================  footer ============================================================= */
    .conteiner_footer {
        margin: 0px 157px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #06182F;
        height: 141px;
        align-items: center;
    }
    .tel {
    }
    .name_tel-footer {
        display: flex;
        flex-direction: column;

    }
    .name_tel_lifecell {
    }
    .nuber_tel_1 {
    }
    .nuber_tel_2 {
    }
    .content_text_footer h2{
        width: 300px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: right;

        color: #00FEFF;
    }
    .content_text_footer h3{
        margin-top: 10px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: right;
        color: #FFFFFF;
    }
    .content_text_footer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
    }
      
  .name_tel-footer .name_tel_lifecell{
            margin: 0px;
           
  }
  .name_tel-footer .nuber_tel_2{
    margin-right: 10px;
}

  .name_tel-footer .nuber_tel_1{
      margin-right: 10px;
  }
  .name_tel-footer li{
      line-height: 20px;
  }
  .name_tel-footer p{
      line-height: 30px;
      font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #FFFFFF;
  }
  .name_tel-footer a{
    text-decoration:none;
    outline: none;
    color: #FFFFFF;
  }





/* ========================================================================================================= */
@media  (min-device-width:320px) and (max-device-width:1440px ) {
    .header_container{
        margin: 0px calc( 5px + 152 * ( 100vw / 1440 ) );
        margin-top: 30px;
    }
    .ogr_container{
        margin: 0px calc( 5px + 152 * ( 100vw / 1440 ) );
    }
    .conteiter_content{
        margin: 0px calc( 5px + 152 * ( 100vw / 1440 ) );
     }
     .conteiner_content_services{
        margin: 0px calc( 5px + 152 * ( 100vw / 1440 ) );
     }

    .services {
        margin: 0px calc( 5px + 152 * ( 100vw / 1440 ) );
        margin-bottom: 35px;
    }
    .conteiner_gool{
        margin: 0px calc( 5px + 152 * ( 100vw / 1440 ) );
    }
    .conteiner_connection{
        margin: 0px calc( 5px + 152 * ( 100vw / 1440 ) );
    }
    .conteiner_prise{
        margin: 0px calc( 5px + 152 * ( 100vw / 1440 ) );
    }
    .conteiner_prise_revers{
        margin: 0px calc( 5px + 152 * ( 100vw / 1440 ) );
    }
    .conteiner_clients{
        margin: 0px calc( 5px + 152 * ( 100vw / 1440 ) );
    }
    .conteiner_about{
        margin: 0px calc( 5px + 152 * ( 100vw / 1440 ) ) 40px;
    }
    .conteiner_Application{
        margin: 0px calc( 5px + 152 * ( 100vw / 1440 ) );
    }
    .conteiner_footer{
        margin: 0px calc( 5px + 152 * ( 100vw / 1440 ) )
    }
}
/* -0---------------------------------------------------------- */
@media screen and (max-width: 865px){
    .header_container{
        margin: 0px calc( -25px + 152 * ( 100vw / 1440 ) );
        margin-top: 30px;
    }
    .ogr_container{
        margin: 0px calc( -25px + 152 * ( 100vw / 1440 ) );
    }
    .conteiter_content{
        margin: 0px calc( -25px + 152 * ( 100vw / 1440 ) );
     }
     .conteiner_content_services{
        margin: 0px calc( -25px + 152 * ( 100vw / 1440 ) );
     }

    .services {
        margin: 0px calc( -25px + 152 * ( 100vw / 1440 ) );
        margin-bottom: 35px;
    }
    .conteiner_gool{
        margin: 0px calc( -25px + 152 * ( 100vw / 1440 ) );
    }
    .conteiner_connection{
        margin: 0px calc( -25px + 152 * ( 100vw / 1440 ) );
    }
    .conteiner_prise{
        margin: 0px calc( -25px + 152 * ( 100vw / 1440 ) );
    }
    .conteiner_prise_revers{
        margin: 0px calc( -25px + 152 * ( 100vw / 1440 ) );
    }
    .conteiner_clients{
        margin: 0px calc( -25px + 152 * ( 100vw / 1440 ) );
    }
    .conteiner_about{
        margin: 0px calc( -25px + 152 * ( 100vw / 1440 ) );
    }
    .conteiner_Application{
        margin: 0px calc( -25px + 152 * ( 100vw / 1440 ) );
    }
    .conteiner_footer{
        margin: 0px calc( -25px + 152 * ( 100vw / 1440 ) );
    }
}

/* ------------------------------------------------------------------ */
@media screen and (max-width: 1228px){
    .content1 h3{
        width: 229px;
    }
    .content2 h3{
        width: 203px;
    }   
    .content3 h3{
        width: 229px;
    }
    .content4 h3{
        width: 229px;
    }
    .content5 h3{
        width: 229px;
    }
    .content6 h3{
        width: 229px;
    }
    /*-------------------------------------------- ________________________________________________________________ */
    .conteiner_gool{
        display: flex;
        flex-wrap: wrap-reverse;
        
    }
        .conteiner_indulgence{                                              
        margin-bottom: 31px;
        margin-top: 30px;
    }
    .indulgence_gool{
        margin-top: 0px;
    }
    .logo_gool{
        margin-left: 0px;
    }
    .text1{
        margin-bottom: 30px;
    }
}
/* ------------------------------------------------------------------------------------------------ */


@media screen and (max-width: 1093px){
    .content_rate{
        display: flex;
        text-align: center;
        width: 100%;
        justify-content: space-evenly;
    }
    .conteiner_tariffs{
        width: 100%;
    }
        .btn_coneiner{
        display: none;
        
    }
}
@media screen and (min-width: 1093px){
    .btn_coneiner2{
        display: none;
       
        
    }
}
@media screen and (max-width: 915px){
    .conteiner_Application{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
}
}
@media screen and (max-width: 847px){
    .header_logo_ua{
        display: none;
}
 
    .header_menu{
    margin-left: 25px;
    
    }
}
@media screen and ( max-width: 806px ) {
    .conteiner_text{
        display: flex;
        flex-wrap: wrap;
    }
    .text2{
        margin-top: 30px;
    }
    .cl-effect-21{
        flex-wrap: wrap;
    }
}
@media screen and ( max-width: 773px ) {
    .text_2{
            padding-top: 20px;
        }
        
        .header_menu{
            margin: 0px 10px 0px 0px;
            
        }
        .menu_item{
            margin: 0px
            
        }
        
}
@media screen and ( max-width: 688px ) {
    .conteiner_footer{
        min-height: 260px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: flex-start;
    }
    .name_tel-footer{
        margin-left: 15px;
    }
    .content_text_footer{
        align-items: flex-start;
        margin-left: 15px;
    }
    .content_text_footer h2{
        text-align: left;
    }
    .content_text_footer h3{
        align-items: none;
        text-align: left;
    }
}




@media screen and ( max-width: 455px ) {
    .logo_gool img {
        width: 160px;
        height: 160px;
    }
    .content_rate{
        display: flex;
        
        flex-direction: column;
        
    }
    .rate1{
        width: 345px;
        height: 281px;
    }
    .rate2{
        margin: 0px;
        margin-top: 20px;
        width: 345px;
        height: 281px;
    }
}

@media screen and ( max-width: 400px ){
    .logo_gool{
        width: 260px;
    }
    .gool_text{
        max-width: 300px;
    }
    .logo_gool img{
        max-width: 128px;
    }
    .logo_gool h2{
        margin-left: 9px;
        max-width: 100px;
    }
    .content_text_footer h2{
        width: 276px;
    }
    .content_text h2{
        font-size: 29px;
        line-height: 30px;
        width: 331px;
    }
    .conteiner_Application{
        margin: 0px;
    }
   
    .conteiner_footer{
        margin: 0px;
    }
    .rate1 {
        margin: 0;
        width: 305px;
        height: 290px;
    }
    .rate2{
        
        width: 305px;
        height: 290px;
    }
    
    .conteiner_tariffs {
    width: 337;
}
.conteiner_form{
    display: flex;
    flex-direction: column;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form input{
    width: 291px;
    margin-left: -23px;
 }
 textarea{
     min-width: 290px;
     margin-left: -22px;
 }
 .checkbox_label::before{
     left: -23px;
 }
 .checkbox_label::after{
    left: -17px;
}
.checkbox_label{
    padding-left: 0px;

}
}
@media screen and ( max-width:667px ){
    .header{
        background-size: 127% 100%;
    }

}
